
Web_v2(Marcus)/web/__pycache__/__init__.cpython-38.pyc
Web_v2(Marcus)/web/__pycache__/auth.cpython-38.pyc
Web_v2(Marcus)/web/__pycache__/views.cpython-38.pyc
Web_v2(Marcus)/web/__pycache__/auth.cpython-38.pyc
Web_v2(Marcus)/web/__pycache__/__init__.cpython-38.pyc
*.pyc
