<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,400&display=swap"
    rel="stylesheet">

<nav>
    <h1 class="base_header">M.A Market</h1>
    <ul class="navbar">
        <li><a href="{{ url_for('views.home') }}">Home</a></li>
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        <li><a href="{{ url_for('auth.sign_up') }}">Sign up</a></li>
        <li><a href="{{ url_for('views.sell') }}">Sell product</a></li>
        <p class='user'>{% if g.user is not none %} Användare: {{g.user['username']}} {% endif %}</p><!-- %{ pyhton logik }%   python variabler %{avsluta 'block'}% -->
    </ul>
</nav>


<!-- Allt under här är skräp som inte gör något :)-->
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>