{% extends 'base.html' %}

{%block header%}
<br>
<h1 class="index_header">{% block title %}PRODUKTER TILL SALU{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- Här kan vi skriva python/html-->
<!-- Exempelvis en vara som ska säljas-->
<!-- Ett väldigt fult exempel på produktsida-->

<!-- %{for product in products }% loopar igenom alla produkter i databasen-->
{% for p in g.IndexProducts %}
{% set current= p['productID'] %}
<a class='href' href="{{ url_for('views.buy', productID=current ) }}">
    <article class="outer_products">
        <div class="inner_products">
            <div class="article_header">
                <p class='pname'>{{p['name']}}</p>  <!--  viewvvv PUNKT mås mås indexa uifrån p-->
            </div>    
            <div class="seller">Säjare:{{p['user']}}
            </div>
            <br>
            <p class="body"> {{p['description']}} </p>
            <p class="body"> {{p['price']}}kr </p>
            <p class="body"> skapad: {{p['creationDate']}} </p>
    </article>
</a> 
{% endfor %}

<!-- %{ endif }% stänger for looopen-->
{% endblock %}