{% extends 'base.html' %}

{%block header%}
<h1>{% block title %}PRODUKTER TILL SALU{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- Här kan vi skriva python/html-->
<!-- Exempelvis en vara som ska säljas-->
<!-- Ett väldigt fult exempel på produktsida-->

<!-- %{for product in products }% loopar igenom alla produkter i databasen-->
{% for p in g.IndexProducts %}
<article class="products">
    <header>
        <div>
            <h1>{{p['name']}}</h1>
            <div class="about">Säjare:Albin Doroci
            </div>
        </div>
    </header>
    <p class="body">Detta ska plockas från databasen och skrivas med pyhthon
        för att få flera produkter kan dessa plockas från databasen och sedan loopas igenom med python</p>
</article>
{% endfor %}

<!-- %{ endif }% stänger for looopen-->
{% endblock %}