{% extends 'base.html' %}

{%block header%}
<h1>{% block title %}PRODUKTER TILL SALU{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- Här kan vi skriva python/html-->
<!-- Exempelvis en vara som ska säljas-->
<!-- Ett väldigt fult exempel på produktsida-->

<!-- %{for product in products }% loopar igenom alla produkter i databasen-->
{% for p in g.IndexProducts %}
<br>
<article class="products">
    <header>
        <div>
            <h1>{{p['name']}}</h1>
            <div class="about">Säjare:{{p['user']}}
            </div>
        </div>
    </header>
    <br>
    <p class="body"> {{p['description']}} </p>
    <p class="body"> {{p['price']}}kr </p>
    <p class="body"> skapad: {{p['creationDate']}} </p>
    <br>
    <hr>
</article>
{% endfor %}

<!-- %{ endif }% stänger for looopen-->
{% endblock %}